@charset "utf-8";
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 100px;
    margin-top: 20px;
}

.panel-default {
    opacity: 0.8;
    /*margin-top:30px;*/
}

.input-group-addon {
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: #fff;
}

.form-control:focus {
    color: #666;
}

.form-signup input[type="text"], .form-signup input[type="password"] {
    border: 1px solid rgb(50, 118, 177);
}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg');
    background-repeat: repeat;
}

/*profile user menu*/

.user-post-menu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.user-post-menu ul li:last-child {
    border-bottom: none;
}

.user-post-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.user-post-menu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.user-post-menu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.user-post-menu ul li.active {
    border-bottom: none;
}

.user-post-menu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}